In [29]:
import yfinance as yf
import pandas as pd

#carregando lista de simbolos
lista_simbolos = pd.read_csv('symbols_valid_meta.csv')
display(lista_simbolos.head(4))

#definindo Periodos
PERIODOS = ['5y','4y','3y','2y','1y','6mo','3mo','1mo','15d','1d'] #len 9

,Nasdaq Traded,Symbol,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
0,Y,A,"Agilent Technologies, Inc. Common Stock",N,,N,100.0,N,NaN,A,A,N
1,Y,AA,Alcoa Corporation Common Stock,N,,N,100.0,N,NaN,AA,AA,N
2,Y,AAAU,Perth Mint Physical Gold ETF,P,,Y,100.0,N,NaN,AAAU,AAAU,N
3,Y,AACG,ATA Creativity Global - American Depositary Sh...,Q,G,N,100.0,N,N,NaN,AACG,N

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 15 entries, 2023-11-29 00:00:00-05:00 to 2023-12-19 00:00:00-05:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          15 non-null     float64
 1   High          15 non-null     float64
 2   Low           15 non-null     float64
 3   Close         15 non-null     float64
 4   Volume        15 non-null     int64
 5   Dividends     15 non-null     float64
 6   Stock Splits  15 non-null     float64
dtypes: float64(6), int64(1)
memory usage: 960.0 bytes

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-11-29 00:00:00-05:00,8.40,8.570,8.250,8.35,1919900,0.0,0.0
2023-11-30 00:00:00-05:00,9.53,10.200,8.980,9.12,2982900,0.0,0.0
2023-12-01 00:00:00-05:00,9.10,9.170,8.770,9.01,1398100,0.0,0.0
2023-12-04 00:00:00-05:00,8.91,9.230,8.860,9.09,1170800,0.0,0.0
2023-12-05 00:00:00-05:00,9.00,9.110,8.890,9.06,705000,0.0,0.0
2023-12-06 00:00:00-05:00,9.10,9.100,8.680,8.69,895800,0.0,0.0
2023-12-07 00:00:00-05:00,8.66,8.765,8.535,8.68,1147500,0.0,0.0
2023-12-08 00:00:00-05:00,8.62,8.760,8.490,8.54,780000,0.0,0.0
2023-12-11 00:00:00-05:00,8.51,8.620,8.390,8.61,1021200,0.0,0.0
2023-12-12 00:00:00-05:00,8.58,8.680,8.350,8.42,803500,0.0,0.0
2023-12-13 00:00:00-05:00,8.44,9.030,8.295,9.01,1651700,0.0,0.0
2023-12-14 00:00:00-05:00,9.15,9.331,8.820,8.89,913300,0.0,0.0
2023-12-15 00:00:00-05:00,8.96,8.960,8.580,8.69,2386300,0.0,0.0
2023-12-18 00:00:00-05:00,8.66,8.860,8.590,8.80,1013600,0.0,0.0
2023-12-19 00:00:00-05:00,8.86,9.150,8.860,8.99,836700,0.0,0.0

In [30]:
titulo = lista_simbolos['Symbol'].get(8044)
acao = yf.Ticker(titulo)
dados = pd.DataFrame(acao.history(period='5y'))
dados.info()
dados

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1258 entries, 2018-12-20 00:00:00-05:00 to 2023-12-19 00:00:00-05:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1258 non-null   float64
 1   High          1258 non-null   float64
 2   Low           1258 non-null   float64
 3   Close         1258 non-null   float64
 4   Volume        1258 non-null   int64
 5   Dividends     1258 non-null   float64
 6   Stock Splits  1258 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 78.6 KB

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-12-20 00:00:00-05:00,18.230000,18.440001,16.690001,17.040001,1987600,0.0,0.0
2018-12-21 00:00:00-05:00,17.059999,17.059999,15.880000,16.080000,2518300,0.0,0.0
2018-12-24 00:00:00-05:00,15.670000,16.850000,15.560000,16.360001,550000,0.0,0.0
2018-12-26 00:00:00-05:00,16.680000,17.820000,16.370001,17.809999,1092300,0.0,0.0
2018-12-27 00:00:00-05:00,17.309999,17.920000,16.620001,17.900000,1011200,0.0,0.0
...,...,...,...,...,...,...,...
2023-12-13 00:00:00-05:00,8.440000,9.030000,8.295000,9.010000,1651700,0.0,0.0
2023-12-14 00:00:00-05:00,9.150000,9.331000,8.820000,8.890000,913300,0.0,0.0
2023-12-15 00:00:00-05:00,8.960000,8.960000,8.580000,8.690000,2386300,0.0,0.0
2023-12-18 00:00:00-05:00,8.660000,8.860000,8.590000,8.800000,1013600,0.0,0.0
2023-12-19 00:00:00-05:00,8.860000,9.150000,8.860000,8.990000,836700,0.0,0.0