In [23]:
import pandas as pd 

#importando arquivos

df_medicos = pd.read_excel('dados_medicos.xlsx')
df_pacientes = pd.read_csv('dados_pacientes.csv',encoding='cp1252', sep=';')
# o arquivo tem codificacao diferente, logo a que usar ncoding='cp1252'
df_estados_br = pd.read_csv('estados_brasileiros.csv', encoding='cp1252', sep=';')

#mostrar dados medicos
df_medicos.head()

   id_cliente   peso  colesterol
0           1  102.0         111
1           2  115.0         135
2           3  115.0         136
3           4  140.0         167
4           5  130.0         158

In [21]:
#mostrar dados pacientes
df_pacientes.head()

,id_cliente,id_estado,idade,genero,estado Civil,renda,nivel_educacao
0,1,21,24,Feminino,Divorciado,8672.21,Superior
1,2,14,60,Feminino,Casado,2946.06,Superior
2,3,26,23,Feminino,Solteiro,5872.48,Médio
3,4,18,51,Masculino,Casado,7871.49,Superior
4,5,4,51,Outro,Viúvo,6033.31,Superior

In [20]:
#mostrar dados de estados
df_estados_br.head()

   id_estado    estado sigla_estado    pais
0          1      Acre           AC  Brasil
1          2   Alagoas           AL  Brasil
2          3     Amapá           AP  Brasil
3          4  Amazonas           AM  Brasil
4          5     Bahia           BA  Brasil

In [28]:
#juntar as tabelas pelos id_estado e id_cliente
df_geral = pd.merge(df_pacientes, df_medicos, on='id_cliente')
df_geral = pd.merge(df_geral,df_estados_br,on='id_estado').sort_values('id_cliente')
df_geral

,id_cliente,id_estado,idade,genero,estado Civil,renda,nivel_educacao,peso,colesterol,estado,sigla_estado,pais
0,1,21,24,Feminino,Divorciado,8672.21,Superior,102.0,111,Rio Grande do Sul,RS,Brasil
19,2,14,60,Feminino,Casado,2946.06,Superior,115.0,135,Pará,PA,Brasil
47,3,26,23,Feminino,Solteiro,5872.48,Médio,115.0,136,Sergipe,SE,Brasil
67,4,18,51,Masculino,Casado,7871.49,Superior,140.0,167,Piauí,PI,Brasil
84,5,4,51,Outro,Viúvo,6033.31,Superior,130.0,158,Amazonas,AM,Brasil
...,...,...,...,...,...,...,...,...,...,...,...,...
373,543,10,50,Feminino,Casado,1863.66,Médio,172.0,207,Maranhão,MA,Brasil
417,544,13,45,Outro,Viúvo,1736.27,Fundamental,129.0,157,Minas Gerais,MG,Brasil
294,545,1,48,Outro,Divorciado,6431.65,Superior,107.0,115,Acre,AC,Brasil
333,546,17,26,Masculino,Viúvo,9787.90,Superior,117.0,147,Pernambuco,PE,Brasil
546,547,16,42,Masculino,Divorciado,4872.36,Superior,148.0,176,Paraná,PR,Brasil

In [54]:
# verificar se ha dados faltantes
True in pd.isna(df_geral)

False

In [56]:
#gera estatisticas descritivas com duas casas decimais
df_geral.describe().round(2)

       id_cliente  id_estado   idade    renda    peso  colesterol
count      547.00     547.00  547.00   547.00  542.00      547.00
mean       274.00      14.59   40.84  5474.51  143.44      170.43
std        158.05       7.71   14.21  2672.42   30.84       39.15
min          1.00       1.00   18.00  1009.40   95.00      102.00
25%        137.50       8.00   28.00  3127.86  116.00      136.00
50%        274.00      14.00   40.00  5533.45  140.00      169.00
75%        410.50      21.00   53.00  7851.46  171.00      208.00
max        547.00      27.00   65.00  9989.72  203.00      235.00